@font-face {
    font-family: 'InterVariable';
    src: url('/assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900; /* Range of weights */
    font-style: normal;
}
body
{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    margin: auto auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
main
{
    background-color: hsl(0, 0%, 12%);
    width: 40vh;
    height: auto;
    font-family: 'InterVariable';
    padding: 20px;
    border-radius: 10px;
    margin: auto auto;
}
#image
{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 object-fit: cover;
 border: 1px solid #000000;
}
#image-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#heading
{
    text-align: center;
    margin: 0 auto;
}
#heading h1
{
color: hsl(0, 0%, 100%);
font-size: 24px;
font-weight: 500;
margin: 10px 0;
}
#heading p
{
    color: hsl(75, 94%, 57%);
    font-size: 1em;
    font-weight: 500;
    margin: 0 0;
}
#bio
{
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
#links
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -35px;
    margin-right: 0;
   

}
#links li
{
    list-style-type: none;
    width: 100%;
    height: 50px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#links li:hover 
{
    background-color: hsl(75, 94%, 57%); 
    cursor: pointer; 
}
#links li:hover a {
    color: hsl(0, 0%, 12%); 
}
a
{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
